<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page<%= 4 + 3 + 3%>
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nisi consectetur doloribus quisquam itaque eius
        velit similique commodi non nam! Incidunt perspiciatis deleniti laudantium pariatur ullam esse est vitae
        voluptate.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nisi consectetur doloribus quisquam itaque eius
        velit similique commodi non nam! Incidunt perspiciatis deleniti laudantium pariatur ullam esse est vitae
        voluptate.
    </p>
</body>

</html>