<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ipsa corporis atque quos libero recusandae nesciunt
        asperiores accusamus veniam nam distinctio consequuntur molestias, iure natus fuga quibusdam ab impedit
        voluptatum!</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ipsa corporis atque quos libero recusandae nesciunt
        asperiores accusamus veniam nam distinctio consequuntur molestias, iure natus fuga quibusdam ab impedit
        voluptatum!</p>
</body>

</html>