* {
    color: pink;
}

button {
    font-size: 30px;
}

h1,
h2 {
    color: darkslateblue;
}

#signup {
    background-color: #123412;
    color: aliceblue;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
}

footer a {
    color: #e63946;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: #a8dadc;
}